

body {
    background:white;
    font-family: 'Source Code Pro', monospace;
}


.navbar-dark {
    padding: 0.75em 1em;
    margin-bottom: 0;
    font-size: 1em;
    text-transform: uppercase;
    background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(235, 235, 235);
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
}

.hero-btn {
    background-color: #008ad5;
    font-family: 'Poppins', sans-serif;
    color: white;
}



.jumbotron {
    background-image: linear-gradient(to right, #00517d, #c5f5fe);
    color: white;
    z-index: -1;
}

.display-4 {
    font-size: 5.3em;
    padding-top: 30%;
}

#jakedesc {
    font-weight: bold;
    font-size: 1.1em;
    color: #369189;
    
   

}

#hi {
    font-weight: lighter;
    font-size: 0.9em;
}

#desc {
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
}



.row {
    padding: 2% 0;
}

.card-body {
    color: #F5F5F5;
}

.me {
    width:30em;
    max-width:100%;
    padding-bottom:0;
    margin-bottom:-3em;
    position: relative;
    z-index: 1;
}

.jumbo-index {
    position: relative;
    z-index: 1000;
}



.col-me {
    text-align: left;
}

.project {
    background-color: white;
    color: black;
    padding-right: 0;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}


.projectimage {
    height: auto;
    width: 100%;
    object-fit: cover;
    
    
}

.project-row {
    padding: 0;
}

.project-col {
    padding: 0;
}

h3 {
    margin-top: 5%;
    font-size: 2.5em;
}

.projectinfo {
    align-items: stretch;
}

.test-div {
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
}


.align-items-start {
    align-items: stretch!important;
}

.project {
    transform:
      perspective(800px)
      rotateY(-8deg);
    transition: transform 1s ease 0s;
    border-radius: 4px;
    box-shadow:
      rgba(0, 0, 0, 0.024) 0px 0px 0px 1px,
      rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
      rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
      rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
} 

.project:hover {
      transform: perspective(800px) rotateY(0deg);
    }

@media only screen and (max-width: 720px) {

    .test-div {
        position: static;
        bottom: 0px;
        margin-bottom: 20px;
    }
}